.container-packing {
    width: 100%;
    height: 80vh;
    background-image: url("image.jpg");
    /* opacity: 0.5; */
}
.header {
    height: 75px;
    background-color: darkgrey;
    border-radius: 5px;

}
.footer {
    height: 75px;
    background-color: darkgrey;
    border-radius: 5px;
}
.hide{
    display:none;
}